<div class="titulo">
  <h1><mat-icon class="my-big-icon">control_point</mat-icon> Cadastro de Planta</h1>
</div>

<div class="form-container">
  <h1>Informações sobre a Planta</h1>
  <form [formGroup]="formGroup">
    <div class="row">
      <mat-form-field appearance="outline" class="half-width-input">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" />
        <mat-error *ngIf="formGroup.get('nome') && formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
          Nome é Obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="half-width-input">
        <mat-label>NomeImagem</mat-label>
        <input matInput type="text" formControlName="nomeImagem" />
        <mat-error
          *ngIf="formGroup.get('nomeImagem') && formGroup.get('nomeImagem')?.invalid && formGroup.get('nomeImagem')?.touched">
          NomeImagem é Obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="half-width-input">
        <mat-label>Descricao</mat-label>
        <input matInput type="text" formControlName="descricao" />
        <mat-error
          *ngIf="formGroup.get('descricao') && formGroup.get('descricao')?.invalid && formGroup.get('descricao')?.touched">
          Descricao é Obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label for="tipoSolo_id">TipoSolos</mat-label>
        <mat-select formControlName="tipoSolo" id="tipoSolo_id">
          <mat-option *ngFor="let tipoSolo of tipoSolos" [value]="tipoSolo">
            {{tipoSolo.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div formGroupName="especie">
      <div class="row">
        <mat-form-field appearance="outline" class="half-width-input">
          <mat-label id="nome_id">Nome da Especie</mat-label>
          <input matInput type="text" formControlName="nome" id="nome_id" />
          <mat-error *ngIf="formGroup.get('especie')?.get('nome')">
            Nome da Especie é Obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="half-width-input">
          <mat-label id="caracteristicas">Caracteristicas da Especie</mat-label>
          <input matInput type="text" formControlName="caracteristicas" id="caracteristicas" />
          <mat-error *ngIf="formGroup.get('especie')?.get('caracteristicas')">
            Caracteristicas da Especie é Obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label for="familia_id">Familias</mat-label>
          <mat-select formControlName="familia" id="familia_id">
            <mat-option *ngFor="let familia of familias" [value]="familia">
              {{familia.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="button-container">
    <mat-card-actions>
      <div class="button-wrapper">
        <button mat-raised-button color="primary" (click)="salvar()">
          Cadastrar
        </button>
      </div>
      <div class="button-wrapper">
        <button mat-raised-button routerLink="/home/main">
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </div>
</div>