<mat-toolbar>
    <button (click)="clickMenu()" mat-icon-button class="example-icon" id="menu-botao" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span id="titulo"><mat-icon style="color: aliceblue; text-align: center;">whatshot</mat-icon> GreenTech</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/usuarios/login">
      <span>Login</span>
  </button>
  <button id="menu-botao" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button id="menu-botao" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  
</mat-toolbar>