@font-face {
    font-family: 'Karla', sans-serif;

}

.titulo2{
  padding-top: 25px;
    text-align: center;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    font-family: 'Passion One', sans-serif;
    color: #03502b;
}

.teste{
  background: linear-gradient(135deg, #014e29, #496e1f);
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 30px;
  opacity: 0.93;
}

h1{
    color: black;
    text-align: left;
    font-size: 40px;
    padding: 35px;
    padding-top: 50px;
}

h2{
    padding: 35px;
}

.conteudo {
    padding-top: 25px;
    padding-left: 14%;
    position: relative;
    width: 72%;
    display: grid;
    grid-gap: 0 40px;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
}

.conteudo .box{
    position: relative;
    background: #03502b;
    height: 420px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: solid #004222;
}

.conteudo .box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    transform: skew(2deg,2deg);
    background-color: #fff;
    z-index: -1;
}

.conteudo .box:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255, 0.05);
}

.content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.8);
}

.box:hover .content h2{
    top: -100px;
}

.box .content h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.container {
    padding: 20px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}


.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: black; /* Cor do texto */
    padding: 30px; /* Espaçamento interno */
    text-align: left; /* Alinhar o texto ao centro */
  }
  
  /* Estilos para o título h1 no cabeçalho */
  .titulo h1 {
    font-size: 50px; /* Tamanho da fonte */
    margin: 0; /* Remover margens padrão */
  }

  .carousel {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 3px solid #03502b;
    border-radius: 30px;

  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel button {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel button.prev {
    left: 0;
  }
  
  .carousel button.next {
    right: 0;
  }
  
  @media (max-width: 575px) {
    .carousel {
      width: 30%;
      height: 300px;
    }
  
    .carousel img {
      width: 30%;
      height: 100%;
    }
  
    .carousel button {
      width: 30px;
      height: 30px;
    }
  }

  .justificativa {
    background: linear-gradient(135deg, #004222, #496e1f);
    border: solid #03502b;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 82%;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-top: 40px;
    opacity: 0.92;
  }
  
  .justificativa h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 550;
    margin-bottom: 10px;
    color: whitesmoke;
  }
  
  .justificativa p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: whitesmoke;
  }
  
  .espaco{
    padding-bottom: 70px;
}
  