<body>
    <header>
        <div class="header-title"><h1>{{video.nome}}</h1></div>
        <div class="header-buttons">
            <a routerLink="/videos/edit/{{video.id}}">
                <button mat-icon-button aria-label="button para editar registro" color="primary" class="edit-button">
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
            <button mat-icon-button aria-label="button para deletar registro" (click)="excluir(video)" color="warn" class="delete-button">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </header>

    <main>
        <section class="video">
            <iframe width="80%" height="350" src="https://www.youtube.com/embed/4aj5IDEJh_I" frameborder="0" allowfullscreen alt="I AM ATOMIC"></iframe>
            <h2>{{video.descricao}}</h2>
        </section>
    </main>
</body>
<!-- https://youtu.be/aWPKrHP9dF8?si=vxknIF0IQ-2rsBeK -->