
<div class="titulo">
    <h1><mat-icon>play_circle_outline</mat-icon> Catálogo de Vídeos <mat-icon routerLink="/videos/video-form" style="padding-left: 40px;">add_circle</mat-icon></h1>
</div>

<div class="barra-de-pesquisa">
    <input type="text" class="input-de-pesquisa" placeholder="O que você está procurando?" [(ngModel)]="filtro" matInput #input (keyup.enter) ="aplicarFiltro()">
  </div>
  

<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">

        <img class="imgCard" mat-card-image src="https://img.freepik.com/vetores-premium/icone-de-video-tutorial-emblema-etiqueta-botao-claquete-com-reprodutor-de-video-online-em-execucao-projeto-de-filme-ou-cinema-online-de-reprodutor-de-video-em-claquete-editor-de-video-ou-producao-de-filmes-cinema-online_435184-625.jpg" >
       
        <mat-card-title class="centered-text"> {{card.titulo}} </mat-card-title>

        <mat-card-actions class="centered-text">
            <button mat-button color="primary">Descriçãozinha</button>
        </mat-card-actions>

        <mat-card-footer>
            <a routerLink="/videos/view/{{card.id}}"><button mat-flat-button color="primary" style="width: 100%; padding: 16px;">Ver mais ...</button></a>
        </mat-card-footer>
    </mat-card>
</div>
