<div class="titulo">
    <h1><mat-icon class="my-big-icon">control_point</mat-icon> Cadastro de Planta</h1>
</div>


<div class="form-container">
  <h1>Informações sobre a Planta</h1>
    <div class="row">
        <mat-form-field appearance="outline" class="half-width-input">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome" />
            <mat-error *ngIf="formGroup.get('nome') && formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                Nome é Obrigatório
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width-input">
            <mat-label>Descricao</mat-label>
            <input matInput type="text" formControlName="descricao" />
            <mat-error *ngIf="formGroup.get('descricao') && formGroup.get('descricao')?.invalid && formGroup.get('descricao')?.touched">
                Descricao é Obrigatório
            </mat-error>
        </mat-form-field>
    </div>

    <div class="button-container">
        <mat-card-actions>
            <div class="button-wrapper">
              <button mat-raised-button color="primary">
                Cadastrar
              </button>
            </div>
            <div class="button-wrapper">
              <button mat-raised-button routerLink="/home/main">
                Cancelar
              </button>
            </div>
          </mat-card-actions>
    </div>
</div>

