<body>
    <header>
        <div class="header-title"><h1>{{praga.nome}}</h1></div>
        <div class="header-buttons">
            <a routerLink="/pragas/edit/{{praga.id}}">
                <button mat-icon-button aria-label="button para editar registro" color="primary" class="edit-button">
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
            <button mat-icon-button aria-label="button para deletar registro" (click)="excluir(praga)" color="warn" class="delete-button">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </header>

    <main>
        <section class="praga">
            <img src={{praga.nomeImagem}} alt="Praga Exemplo">
            <h2>Descrição: {{praga.nome}}</h2>
            <h2>Especie: {{praga.especie.nome}}</h2>
            <h3>Caracteristicas da especie: {{praga.especie.caracteristicas}}</h3>
            <h3>{{praga.descricao}}</h3>
        </section>
    </main>
</body>