
<div class="titulo">
    <h1><mat-icon class="my-big-icon">nature</mat-icon> Catálogo de Plantas<mat-icon routerLink="/plantas/planta-form" style="padding-left: 40px;">add_circle</mat-icon></h1>
</div>

<div class="barra-de-pesquisa">
    <input type="text" class="input-de-pesquisa" placeholder="O que você está procurando?">
  </div>
  

<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">

        <img mat-card-image src={{card.urlImg}} >
       
        <mat-card-title class="centered-text"> {{card.titulo}} </mat-card-title>

        <mat-card-actions class="centered-text">
            <button mat-button color="primary">{{card.especieP}}</button>
        </mat-card-actions>

        <mat-card-footer>
            <a routerLink="/plantas/view/{{card.id}}"><button mat-flat-button color="primary" style="width: 100%; padding: 16px;">Ver mais ...</button></a>
        </mat-card-footer>
    </mat-card>
</div>